$font-path:"/fonts/uhcsans/";

@font-face {
    font-family: 'uhcsans_black';
    src: url('#{$font-path}UHCSans-Black.eot');
    src: url('#{$font-path}UHCSans-Black.woff') format('woff'),
         url('#{$font-path}UHCSans-Black.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'uhcsans_blackitalic';
    src: url('#{$font-path}UHCSans-BlackItalic.eot');
    src: url('#{$font-path}UHCSans-BlackItalic.woff') format('woff'),
         url('#{$font-path}UHCSans-BlackItalic.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'uhcsans_bold';
    src: url('#{$font-path}UHCSans-Bold.eot');
    src: url('#{$font-path}UHCSans-Bold.woff') format('woff'),
         url('#{$font-path}UHCSans-Bold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'uhcsans_bolditalic';
    src: url('#{$font-path}UHCSans-BoldItalic.eot');
    src: url('#{$font-path}UHCSans-BoldItalic.woff') format('woff'),
         url('#{$font-path}UHCSans-BoldItalic.otf') format('opentype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'uhcsans_heavy';
    src: url('#{$font-path}UHCSans-Heavy.eot');
    src: url('#{$font-path}UHCSans-Heavy.woff') format('woff'),
         url('#{$font-path}UHCSans-Heavy.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'uhcsans_heavyitalic';
    src: url('#{$font-path}UHCSans-HeavyItalic.eot');
    src: url('#{$font-path}UHCSans-HeavyItalic.woff') format('woff'),
         url('#{$font-path}UHCSans-HeavyItalic.otf') format('opentype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'uhcsans_italic';
    src: url('#{$font-path}UHCSans-Italic.eot');
    src: url('#{$font-path}UHCSans-Italic.woff') format('woff'),
         url('#{$font-path}UHCSans-Italic.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'uhcsans_light';
    src: url('#{$font-path}UHCSans-Light.eot');
    src: url('#{$font-path}UHCSans-Light.woff') format('woff'),
         url('#{$font-path}UHCSans-Light.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'uhcsans_lightitalic';
    src: url('#{$font-path}UHCSans-LightItalic.eot');
    src: url('#{$font-path}UHCSans-LightItalic.woff') format('woff'),
         url('#{$font-path}UHCSans-LightItalic.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'uhcsans_medium';
    src: url('#{$font-path}UHCSans-Medium.eot');
    src: url('#{$font-path}UHCSans-Medium.woff') format('woff'),
         url('#{$font-path}UHCSans-Medium.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'uhcsans_mediumitalic';
    src: url('#{$font-path}UHCSans-MediumItalic.eot');
    src: url('#{$font-path}UHCSans-MediumItalic.woff') format('woff'),
         url('#{$font-path}UHCSans-MediumItalic.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'uhcsans_regular';
    src: url('#{$font-path}UHCSans-Regular.eot');
    src: url('#{$font-path}UHCSans-Regular.woff') format('woff'),
         url('#{$font-path}UHCSans-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'uhcsans_semibold';
    src: url('#{$font-path}UHCSans-SemiBold.eot');
    src: url('#{$font-path}UHCSans-SemiBold.woff') format('woff'),
         url('#{$font-path}UHCSans-SemiBold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'uhcsans_semibolditalic';
    src: url('#{$font-path}UHCSans-SemiBoldItalic.eot');
    src: url('#{$font-path}UHCSans-SemiBoldItalic.woff') format('woff'),
         url('#{$font-path}UHCSans-SemiBoldItalic.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'uhcsans_ultralight';
    src: url('#{$font-path}UHCSans-UltraLight.eot');
    src: url('#{$font-path}UHCSans-UltraLight.woff') format('woff'),
         url('#{$font-path}UHCSans-UltraLight.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'uhcsans_ultralightitalic';
    src: url('#{$font-path}UHCSans-UltraLightItalic.eot');
    src: url('#{$font-path}UHCSans-UltraLightItalic.woff') format('woff'),
         url('#{$font-path}UHCSans-UltraLightItalic.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
