<section class="hero hero-landing-page hero-landing-page-health-box">

  <img class="hero-image visible-desktop" src="https://placeholdit.co/i/1600x440?bg=e8f7fa&fc=aaaaaa&text=3.63636:1+aspect+ratio" alt="">
  <img class="hero-image visible-mobile" src="https://placeholdit.co/i/984x656?bg=e8f7fa&fc=aaaaaa&text=3:2+aspect+ratio" alt="">

  <div class="hero-text">
    <h1>Individuals &amp; families health insurance</h1>
    <hr>

    <div class="visible-xl">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
    </div>

    {{> atoms-tertiarytextlink linkText="Take a look at our plans."}}
  </div>

  <div class="floating-content-component__column__gradient-box-container visible-desktop">

    <h4>Need a health plan?</h4>
    <p>Get a quick quote right here. It’s simple.</p>

    <form>
      <input type="text">
      <button class="button button-fa button-primary" type="submit">
				<i class="fa fa-fw fa-chevron-right" aria-hidden="true"></i>
			</button>
    </form>

  </div>

</section>