<div class="accordion-panel">
  <div class="accordion-heading">
    <h2>
      {{#if title}}{{title}}{{/if}} {{> atoms-plusminustoggle}}
    </h2>
  </div>
  <div class="accordion-body">
    {{#if content}}{{{content}}}{{/if}}
  </div>
</div>