<ol>
  <li>The Diversity of Worlds</li>
  <li>Strange Mankinds</li>
  <li>Nautiloids</li>
  <li>The Earth
    <ol>
      <li>The Starting Point</li>
      <li>Earth Among the Stars</li>
    </ol>
  </li>
  <li>More Worlds</li>
</ol>