<ul class="bullets">
  <li>We had first met when she was a child</li>
  <li>Our eyes encountered</li>
  <li>She looked at me for a moment with quiet attention</li>
  <li>Even, I had romantically imagined, with obscure, deep-lying recognition
    <ul>
      <li>I, at any rate, recognized in that look</li>
      <li>So I persuaded myself in my fever of adolescence</li>
    </ul>
  </li>
  <li>My destiny</li>
</ul>