<a href="#primarynav" class="primarynav__toggle {{classModifier}}" aria-controls="primarynav">
    {{#if helperText}}{{helperText}}{{else}}Toggle Navigation{{/if}}
    <span></span>
    <span></span>
    <span></span>
    <span></span>
</a>