<section class="hero hero-landing-page">

  <img class="hero-image visible-desktop" src="https://placeholdit.co/i/1600x440?bg=e8f7fa&fc=aaaaaa&text=3.63636:1+aspect+ratio" alt="">
  <img class="hero-image visible-mobile" src="https://placeholdit.co/i/984x656?bg=e8f7fa&fc=aaaaaa&text=3:2+aspect+ratio" alt="">

  <div class="hero-text">
    <h1>Individuals &amp; families health insurance</h1>
    <hr>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
    {{> atoms-tertiarytextlink linkText="Take a look at our plans."}}
  </div>

</section>