<div class="icons-and-rte">
  <img class="icons-and-rte__icon" src="/images/icon-doctor.png" alt="{{imageAlt}}" />

  <div class="icons-and-rte__content">{{{rte-content}}}</div>

  {{#if tertiarytextlink}} {{> atoms-tertiarytextlink link=link linkText=linkText}} {{/if}}

</div>