<div class="{{footerDisclaimerContainerClass}}">
  <div class="footer-disclaimer-container__upper">
    <div class="footer-disclaimer-container__tab">
      <p>
        Disclaimer {{> atoms-plusminustoggle}}
      </p>
    </div>
  </div>
  <div class="footer-disclaimer-container__lower">
    <p>{{disclaimerContent}}</p>
  </div>
</div>