{{> components-header}} {{> components-primarynav}} {{> components-page-title-with-nav}}
<div class="gradient-triangle-bottom">
  {{> atoms-typography-content-page-content}} {{> atoms-typography-blockquote}} {{> atoms-typography-bullet-list-bullets}} {{> atoms-typography-tertiarylinklist}}
</div>
<div class="container {{classModifier}}">
  {{> components-accordion}}
</div>
{{> components-main classModifier="content-page"}} {{> components-footer}}